
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

  <title>Feed</title>
  <!-- For the autocomplete feature of post locations -->
  <!-- <link href="/css/Autocomplete.css" rel="stylesheet"> -->
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css" >
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/pure-min.css" >
  <link rel="stylesheet" href="/css/revisioned.css" >
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/pure-extras.css">
  <link rel="stylesheet" href="/css/MarkerCluster.css">
  <link rel="stylesheet" href="/css/MarkerCluster.Default.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <%
  var __urlRegex = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
  var __imgRegex = /\.(?:jpe?g|gif|png)$/i;

  function parseURL($string){

    var exp = __urlRegex;
    return $string.replace(exp,function(match){
      __imgRegex.lastIndex=0;
      if(__imgRegex.test(match)){
        return '<img src="'+match+'" class="post-image" />';
      }
    else{
      return '<a href="'+match+'" target="_blank">'+match+'</a>';
    }
  }
  );
  }
  %>

  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">Spotted</a>

    <ul>
      <% if (user != null) { %>
      <li class="pure-menu-selected"><a href="/connections">Connections</a></li>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/signup">Register</a></li>
      <% } %>
    </ul>
  </div>

  <div class="map-container">
    <div id="progress" style="display:none;">
    <div id="progress-bar"></div>
    </div>
    <div id="map"></div>
  </div>

  <div id="r-container" class="right-container js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
    <% posts.forEach( function( post ){ %>

    <div class="gen-post-wrapper item" style="display: inline-block;">
      <div class="post-wrapper">

        <div id="<%= post._id %>" class="post" <% if(post.coords.length > 0){ %> longitude="<%=post.coords[0]%>" latitude="<%=post.coords[1]%>" <%}%> style="position:relative;">
          <div class="post-content"><%- parseURL(post.body) %></div>
        </div>
        <!--<div class="count-container">
          <%= post.ups.length %><i style="padding: 2px; float:left;" class="fa fa-heart"></i><br/>
          <%= post.downs.length %><i style="padding: 2px; float:left; font-weight:bold;" class="fa fa-frown-o"></i><br/>
        </div>-->
        <!-- <i style="padding: 5px; float:right;" class="fa fa-plus"></i> use this for adding a comment-->
        <% if(user) {%>
          <% if(post.user_id != null && post.user_id != user.id){%>
          <form id="<%= post._id %>-connection-form" action="/user/<%= post.user_id %>/connect" method="post">
              <i style="cursor:pointer; padding: 5px; float:left;" onclick="submitForm('<%= post._id %>-connection-form')" class="fa fa-coffee"></i>
          </form>
          <% }else{ %>
          <form id="<%= post._id %>-delete-form" action="/post/<%= post._id %>/delete" method="post">
              <i style="cursor:pointer; padding: 5px; float:left;" onclick="submitForm('<%= post._id %>-delete-form')" class="fa fa-times"></i>
          </form>          
        <% }}else{%> 
          <i style="padding: 5px; float:left;" title="Login to connect with this user!" class="fa fa-coffee tooltip-ready" data-placement="bottom"></i>
        <%}%>
        <span style="float:right; padding: 2px;"> <%= post.comments.length %></span>
        <i style="padding: 5px; float:right;" class="expand-comments fa fa-comments"></i>
        <span style="float:right; padding: 2px;"> <%= post.ups.length %></span>
        <% if(user) {%>
        <form id="<%= post._id %>-up-form" action="/post/<%= post._id %>/up" method="post">
          <i style="cursor:pointer;padding: 5px; float:right;" class="fa fa-thumbs-up" onclick="submitForm('<%=post._id%>-up-form')"></i>
        </form>
        <% }else{%> 
          <i style="padding: 5px; float:right;" title="Log in to vote!" class="fa fa-thumbs-up tooltip-ready" data-placement="bottom"></i>
        <%}%>
        <span style="float:right; padding: 2px;"> <%= post.downs.length %></span>
        <% if(user) {%>
        <form id="<%= post._id %>-down-form" action="/post/<%= post._id %>/down" method="post">
        <i style="cursor:pointer;padding: 5px; float:right;" class="fa fa-thumbs-down" onclick="submitForm('<%=post._id%>-down-form')"></i>
        </form>
        <% }else{%> 
        <i style="padding: 5px; float:right;" title="Log in to vote!" class="fa fa-thumbs-down tooltip-ready" data-placement="bottom"></i>
        <%}%>
      </div>
      <% post.comments.forEach(function(c){ %>
      <div class="comment hidden"><%=c.body%></div>
      <% }); %>
      <div class="comment hidden" style="margin-left: 2px; width: 80%;">
      <% if(user){ %>
        <form class="add-comment-form" style="text-align: center;" action="/post/<%=post._id%>/comment" method="post" >
          <input type="hidden" name="lat" class="lat"></input>
          <input type="hidden" name="lon" class="lon"></input>
          <textarea name="body" class="comment-input" style="color: black; height: 2em; width: 100%; margin-bottom: 5px;" placeholder="Add a comment!"></textarea>
          <!-- <i class="fa fa-plus fa-lg" style="z-index: 3px;"></i> -->
          <button type="submit" style="font-weight: 200; right: -50px;height:20%;"class="pure-button">Submit</button>
        </form>
        <%} else{%>
        <div> <strong>Login or register to comment!</strong></div>
        <% }%>
      </div>
    </div>
    <%});%>
    
  </div>

  <!-- Temporary hack to keep from blocking posts on bottom. TODO: replace with CSS -->
  <br/>
  <br/>
  <br/>
  <br/>

    <div class="post-form-container">
      <button id="display-post-form-button" class="pure-button pure-button-primary" style="background: rgb(202, 60, 60); width:100%">Add a post!</button>
      <form class="add-post-form" style="display:none;" action="/post/new/" method="post">
        <input type="hidden" name="lat" class="lat"></input>
        <input type="hidden" name="lon" class="lon"></input>
        <!--TODO: auto textarea grow doesn't work on this one -->
        <textarea style="width:75%;" id="post-input" name="body" placeholder="What you wanna say? For pictures just paste a link wherever and it will load as an image in the post."></textarea>
        <br/> <br/>
        <!-- TODO: make this pretty -->
        <input type="text" style="width:65%" name="location" id="location" placeholder="Saw something somewhere else? Put the address here and we'll drop the marker where it needs to go!"></input>
        <br/>
        <% if(user){%><button style="margin-top: 16px; margin-bottom: 3px; width: 50%" class="pure-button pure-button-primary">Submit!</button> 
        <% }else{ %>
            <button type="button" style="margin-top: 16px; margin-bottom: 3px; width: 50%" class="pure-button pure-button-primary">Log in to post!</button> 
        <% } %>
      </form>
    </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="/js/masonry.pkgd.min.js"></script>
  <script src="/js/jquery.autosize.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main-page.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="/js/leaflet-map.js"></script>
  <script src="/js/leaflet.markercluster.js"></script>

</body>
</html>
